@import "../../index.scss";

.food-item-comp {
  width: 100%;
  margin: auto;
  border-radius: 1.5rem;
  box-shadow: 0rem 0rem 1rem $secondary-color-two;
  transition: 0.3s;
  animation: fadeIn 1s;

  &-image {
    width: 100%;
    border-radius: 1.5rem 1.5rem 0rem 0rem;
  }

  &-info {
    padding: 2rem;
  }

  &-name-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    p {
      font-size: 2rem;
      font-weight: 500;
    }

    img {
      width: 7rem;
    }
  }

  &-desc {
    color: $secondary-color;
    font-size: 1.2rem;
  }

  &-price {
    color: $primary-color-one;
    font-size: 2.2rem;
    font-weight: 500;
    margin: 1rem 0rem;
  }

  &-img-container {
    position: relative;

    .add {
      width: 3.5rem;
      position: absolute;
      bottom: 1.5rem;
      right: 1.5rem;
      cursor: pointer;
      border-radius: 50%;
    }
  }

  &-counter {
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    display: flex;
    border-radius: 5rem;
    align-items: center;
    gap: 1rem;
    padding: 0.6rem;
    background-color: $white;

    img {
      width: 3rem;
    }
  }
}
