/* brand color */

$primary-color-one: #fc8626;
$primary-color-two: #f5250b;
$primary-color-three: #44ad1c;
$secondary-color: #515051;
$lemon: #b1b900;
$black: #06130c;
$brown: #4b1d03;
$white: #f3f2e0;
